{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} gestion Produit
    {% endblock %}

    {% block body %}



<table class="table table-primary table-striped">
        <thead>

        <tr>
            <th scope="col">#</th>
            <th scope="col">nom</th>
            <th scope="col">Prix</th>
            <th scope="col">Photo</th>
            <th scope="col">Tailles</th>
            <th scope="col">Actions</th>
           
        </tr>

        </thead>
        <tbody>

        {% for produit in produits %}
            <tr>
                <th scope="row">{{ produit.id }}</th>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.prix }}€</td>
                <td><img src="{{ asset('upload/')~produit.photo }}" width="100" alt=""></td>

                
                <td>{{ produit.description }}</td>
                <td><a href="{{ path('editProduit', {'id': produit.id}) }}" class="btn btn-info">Modifier</a>
                    <a href="{{ path('deleteProduit', {'id': produit.id}) }}" onclick="return confirm('Etes-vous sûr?')" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>



{% endblock %}


